<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- favicons -->
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	<!-- android meta -->
	<meta name="theme-color" content="#000000">
	<meta name="mobile-web-app-capable" content="yes">

	<!-- apple metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="webapps">

	<title>webapps</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/styles.css">

	<link rel="manifest" href="manifest.json"></link>

	<!-- pwa manifest polyfill -->
	<script src="libs/ManUp.js/manup.min.js"></script>

	<script>
	// https://www.pwabuilder.com/
	// This is the service worker with the Cache-first network
	// Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
	if (navigator.serviceWorker.controller) {
		console.log('[PWA Builder] active service worker found, no need to register')
	}
	else {
		// Register the ServiceWorker
		navigator.serviceWorker.register('pwabuilder-sw.js', {
			scope: './'
		}).then (function(reg) {
			console.log('Service worker has been registered for scope:'+ reg.scope);
		});
	}
	</script>
</head>
<body>

	<main id="app">

		<header class="app-header">
			<button class="button-menu" @click="menuExpanded = !menuExpanded" :aria-pressed="menuExpanded">
				<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M16.4 9H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zm0 4H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zM3.6 7h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1z"/>
				</svg>
				<span hidden>Menu</span>
			</button>

			<h1 class="heading"><a href="/">webapps</a></h1>

			<div class="search-box">
				<input type="text" data-search-input placeholder="search app / tag" :value="searchTerms">
			</div>
		</header>

		<ul class="menu" :aria-expanded="menuExpanded">
			<li><button @click="panels.newapp.expanded = !panels.newapp.expanded">add a webapp</button></li>
			<li><button disabled>list tags</button></li>
			<li><button disabled>manage options</button></li>

			<li>
				<button class="detach-button" @click="detachWebapps" v-if="!isDetached">
					<span class="caption">detach</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
						<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6M15 3h6v6M10 14L21 3"/>
					</svg>
				</button>
			</li>
		</ul>

		<transition name="slide">
			<section class="panel panel--newapp" v-if="menuExpanded && panels.newapp.expanded">
				<div class="wrapper">
					<h2>Add a webapp</h2>
					<form @submit.prevent="onSubmitApp">
						<label for="app-name">
							<span>Name</span>
							<input type="text" id="app-name" v-model="newApp.name" required>
						</label>

						<label for="app-url">
							<span>URL</span>
							<input type="url" id="app-url" v-model="newApp.url" required>
						</label>

						<label for="app-tags">
							<span>Tags</span>
							<input type="text" id="app-tags" v-model="newApp.tags">
						</label>

						<label for="app-tags" class="more">
							<!-- v-if="panels.newapp.more" -->
							<span>Window width</span>
							<input type="text" id="app-width" v-model="newApp.window.width">
							<!-- v-model="newApp.window.width" -->
						</label>

						<label for="app-tags" class="more">
							<span>Window height</span>
							<input type="text" id="app-height" v-model="newApp.window.height">
						</label>

						<!-- <button type="button" @click="panels.newapp.more = !panels.newapp.more">more</button> -->
						<button type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
							<path d="M16 10c0 .553-.048 1-.601 1H11v4.399c0 .552-.447.601-1 .601-.553 0-1-.049-1-.601V11H4.601C4.049 11 4 10.553 4 10c0-.553.049-1 .601-1H9V4.601C9 4.048 9.447 4 10 4c.553 0 1 .048 1 .601V9h4.399c.553 0 .601.447.601 1z"/>
						</svg>
						add new app</button>

					</form>
				</div>
			</section>
		</transition>


		<nav data-app-nav v-if="null !== appList" class="swing-in-top-fwd">
			<ul class="app-list" data-search-content>
				<li class="item-app" v-for="(app, index) in appList">
					<img :src="app.icon" class="app-icon" width="32" height="32" alt="">
					<div class="item">
						<a @click="openApp" :href="app.url" :data-index="index" :data-category="app.tags" class="data-app-button" rel="noopener noreferrer">
							<span class="app-name">{{app.name}}</span>
						</a>
						<ul class="app-tags" v-if="app.tags">
							<li class="item-tag" v-for="tag in app.tags" @click="searchTag(tag)">{{tag}}</li>
						</ul>
						<button class="button-delete" @click="removeApp(index)">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path fill="currentColor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
							</svg>
							<span class="caption" hidden>remove app</span>
						</button>
					</div>
				</li>
			</ul>
		</nav>

	</main>


	<!-- vue and plugins -->
	<script src="libs/vuejs/vue.min.js"></script>
	<script src="libs/vuejs/vue-resource-1.5.0.min.js"></script>
	<script src="libs/vuejs/vue-router-3.0.1.min.js"></script>
	<script src="libs/vuejs/vuex.js"></script>

	<!-- jetsjs -->
	<script src="libs/jets.min.js"></script>

	<!-- webapps -->
	<script src="config.js"></script>
	<script src="assets/js/app.min.js"></script>

</body></html>
