// Styles de base (critiques)

// configuration du thème (polices, couleurs, etc.)
@import './_variables.scss';

// CSS normalize
@import './modules/modern-normalize.scss';

// Autres resets et configuration de base (box-sizing, police, …)
@import './modules/_mod-base.scss';


// Reset Button
// https://gist.github.com/MoOx/9137295

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;

	/* Remove excess padding and border in Firefox 4+ */
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
