// Styles critiques d'en-tête
// Configuration des polices, styles du logo ou de la têtière, etc.


/* Chargement de polices - https://fontfaceobserver.com/ */

body {
	color: $color-copy;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.35em;
	
	&, input, button, textarea {
		font-family: $font-default;
	}
}


// Roboto (textes)
// police système temporaire pendant le chargement - https://meowni.ca/font-style-matcher/
body:not([data-loaded-fonts*="Roboto"]) {
	line-height: 1.5;
	font-family: Arial, $font-default;
	letter-spacing: -0.1px;
	word-spacing: 0.5px;
}

// Roboto chargée
body[data-loaded-fonts*="Roboto"] {
	font-family: $font-sans-serif;
}


// Oswald (titres, etc.)
// police système temporaire pendant le chargement - https://meowni.ca/font-style-matcher/
body:not([data-loaded-fonts*="Oswald"]) {

	h1, h2, h3, h5, h6 {
		line-height: 1.25;
		font-weight: 600;
		font-family: "Arial Narrow", $font-default;
		letter-spacing: -1.35px;
	}
}

// Oswald chargée
body[data-loaded-fonts*="Oswald"] {
	
	h1, h2, h3, h5, h6 {
		font-family: $font-sans-serif-condensed;
	}
	
}



// Importer ou saisir ici les styles de la têtière
// …