// Variables
// Ce fichier peut-être inclus dans plusieurs endroits : pas de génération de CSS (qui serait dupliqué…)

// Fonts
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
$font-sans-serif: 'Roboto Condensed', 'Helvetica', -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;

// Media queries (cf. _mod-mixins.scss)
$tablet-width: 768px;
$desktop-width: 1024px;

// Texte
$color-copy: #58585a;
$color-copy-dark: #323232;
$color-copy-light: #666;

// Gris
$color-gray: #2a3238;
$color-medium-gray: #bfbfbf;
$color-light-gray: #e5e5e5;

// Thème
$color-accent: #3aee9a;
$color-accent-alt: #ff0061;

// Anamorphik
$color-anamorphik: #c7341c;
