@import "./base";
@import "./animations";

$ease-cubic: cubic-bezier(.01, 0.96, 0.58, 1);
$item-app-color: white;


// Vue Transitions
.slide-enter-active, .slide-leave-active {
	max-height: 100vh;
	transition: max-height ease-out .3s;
}
.slide-enter, .slide-leave-to {
	max-height: 0;
	overflow: hidden;
	transition: max-height ease-out .3s;
}


button[disabled] {
	filter: grayscale(1);
	opacity: .8;
}


[type=submit] {
	display: inline-flex;
	align-items: center;
	background-color: $color-accent-alt;
	border-radius: .25em;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-weight: 700;
	padding: .25em .5em;
	text-transform: uppercase;
	font-size: 1.125rem;
	transition: transform $ease-cubic .3s;
	&:focus, &:hover {
		transform: scale(1.15);
	}
	&:active {
		background-color: $color-gray;
	}
	svg {
		width: 1em;
		fill: white;
	}
}



.detach-button {
	.caption {
		display: none;
	}
	svg {
		height: 1em;
	}
}


body {
	background-color: #dddddd;
	font-family: $font-sans-serif;
	padding: 0;
	color: $color-gray;
}

header {
	background-color: #293237;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

h1 {
	color: #FFFFFF;
	font-family: $font-sans-serif;
	font-weight: 400;
	font-size: 2.5rem;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	a {
		text-decoration: inherit;
		color: inherit;
		font: inherit;
	}
}


.button-menu {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: white;
	-webkit-appearance: none;
	font-size: inherit;
	line-height: 0;
	margin-right: 1rem;
	color: #ff0061;
	padding: 0 2px;
	transition: box-shadow $ease-cubic .3s;

	path {
		fill: currentColor;
	}

	&:focus, &:hover {
		box-shadow: 0 0 0 1px currentColor;
	}

	&[aria-pressed] {
		color: $color-accent;
		border-radius: 0;
	}
}

.menu {
	align-items: center;
	background-color: #f0f0f0;
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	max-height: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: .5rem;
	padding: 0;
	transition: max-height $ease-cubic .5s;
	width: 100%;

	li {
		padding: 1rem .5rem;
	}

	button {
		background-color: $color-gray;
		border-radius: .25em;
		border: none;
		color: #f0f0f0;
		cursor: pointer;
		font-weight: 700;
		padding: .25em .5em;
		&:focus, &:hover {
			background-color: $color-accent;
			color: $color-gray;
		}
		&:active {
			box-shadow: none !important;
		}
	}
}

.menu[aria-expanded] {
	max-height: 100vh;
	transition: max-height ease-out 2s;
}


.search-box {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;

	input {
		background: #3E464B;
		border: none;
		color: white;
		font-size: 1.125rem;
		padding: 1rem;
		width: 100%;
		&:focus {
			outline: none;
			box-shadow: 0 -2px 0 $color-accent-alt inset;
		}
	}
}




nav {
	// box-shadow: 0 -2px 2px #00000014;
	.app-list {
		background-color: #dddddd;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.item-app {
		align-items: center;
		background: $item-app-color;
		border-bottom: 1px solid #DDDDDD;
		color: black;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: 100%;
		position: relative;

		img {
			margin: 1rem;
			width: 32px;
			height: auto;
			background-color: white;
			// filter: blur(15px) contrast(1.2);
			clip-path: circle(50%);
			background-color: $item-app-color;
			transition: clip-path ease-out .3s;
		}
	}

	.item-app:focus, .item-app:hover {
		box-shadow: 4px 0 0 #e5003b inset;
		img {
			clip-path: circle(100%);
		}
	}
	.item-app:active {
		background-color: #ffeef4;
	}

	.item-app a:focus, .item-app a:hover {
		// text-decoration: underline;
		color: #e5003b;
	}


	.item {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: center;
		flex: 1;
		position: relative;

		span, a {
			flex-basis: 100%;
		}
		a {
			padding: 1rem 0;
			padding-top: 2.5rem;
		}

		button {
			display: flex;
			background-color: $item-app-color;
			cursor: pointer;
			text-transform: uppercase;
			position: absolute;
			top: 50%;
			right: 1rem;
			transform: translateY(-50%);
			padding: 5px;
			border-radius: 3px;

			&.button-delete {
				color: #dddddd;
				border-radius: 50%;
			}

			&:focus, &:hover {
				color: $color-accent-alt;
			}
			&.button-delete:hover,
			&.button-delete:focus {
				background-color: $color-accent-alt;
				color: white;
			}
		}
	}


	// tags buttons
	.app-tags {
		display: flex;
		flex-flow: row wrap;
		flex-basis: 100%;
		align-items: flex-start;
		flex: 1;
		padding: 0;
		list-style: none;
		margin: 0;
		position: absolute;
		left: 0;
		top: 1rem;

		.item-tag {
			cursor: pointer;
			text-transform: uppercase;
			flex: 0;
			&:focus, &:hover {
				color: $color-accent-alt;
			}
		}
		.item-tag + .item-tag {
			padding-left: .5em;
		}
	}


	a {
		align-items: center;
		color: black;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 1.5rem;
		position: relative;
		text-decoration: none;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0%;
	}
	a span {
		flex-basis: 100%;
	}
	.app-name {

	}

}



.panel {
	background-color: #f0f0f0;
	border-top: 1px solid #ccc;
	padding: 1rem 1rem 3rem 1rem;
	box-shadow: 0 1px 0 white inset;

	.wrapper, form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
	}

	h2, label {
		flex-basis: 100%;
	}

	h2 {
		margin-bottom: 1rem;
		text-align: center;
		text-transform: uppercase;
		color: #2a3238;
	}


	label {
		margin-bottom: 1rem;
		span {
			color: #3e464a;
			font-size: 1.125rem;
			font-weight: 600;
			line-height: 1;
			text-transform: uppercase;
			padding-bottom: .35em;
			display: inline-block;
		}

		&.more {
			flex-basis: 50%
		}
	}

	input {
		background: #dddddd;
		border: none;
		font-size: 1.125rem;
		padding: 1rem;
		width: 100%;
		transition: box-shadow ease-in .3s;
		will-change: box-shadow;
		&:hover {
			box-shadow: 0 -2px 0 $color-medium-gray inset;
		}
		&:focus {
			outline: none;
			box-shadow: 0 -2px 0 #ff0061 inset !important;
		}
	}
}







@media all and (min-width:1024px) {

	.app-list li {
		flex-basis: 50%;
	}
}
