/* 
CSS modules
_mod-svg-icons.scss v1
*/


.icon {
	align-self: center;
	display: inline-flex;
	fill: currentColor;
	position: relative;
	height: 1em;
	width: 1em;
}

.icon svg {
	height: 1em;
	width: 1em;
}