/* 
CSS modules
_mod-toasts.scss v1
Toast messages — from spectre.css
*/


// Toasts

$color-toast-success : #46bd55;
$color-toast-warning : #ea6719;
$color-toast-danger : #da0000;

.toast {
	
	background-color: #333;
	border-radius: .3rem;
	color: white;
	display: block;
	padding: 1.4rem;
	
	&.toast--success {
		background-color: $color-toast-success;
	}
	
	&.toast--warning {
		background-color: $color-toast-warning;
	}
	
	&.toast--danger {
		background-color: $color-toast-danger;
	}
	
	& a {
		color: black;
	}
	
	
	
	&.toast--popup {
		transform: translateZ(0); // enable hardware acceleration
		animation-fill-mode: none;
		box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
		cursor: pointer;
		left: 50%;
		opacity: 0;
		position: fixed;
		top: 50%;
		transform-origin: center;
		transform: translate(-50%, -50%);
		width: 80%;
		will-change: opacity transform;
		z-index: -1;
		margin: 0;
		max-width: 30em;
	}

	&.toast--popup.is-active {
		animation: toasted 2.5s 1 ease forwards;
		z-index: 10;
	}
	
	&.toast--popup.toast--danger.is-active {
		animation-duration: 5s;
	}
	
}


@keyframes toasted {
	0%, 100% { opacity: 0 }
	10%, 90% { opacity: 1 }
}