
// Helpers
@mixin centerBlock {
	margin-left: auto;
	margin-right: auto;
	display: block;
}




// Pure CSS multiline text with ellipsis
// https://codepen.io/martinwolf/pen/qlFdp

@mixin ellipsis ($line-height, $lines-to-show) {
	// $font-size: 26px;
	// $line-height: 1.4;
	// $lines-to-show: 3;
	
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: 1*$line-height*$lines-to-show; /* Fallback for non-webkit */
	line-height: $line-height;
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	
	&::after {
		vertical-align: baseline;
		content: '…';
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 3em;
		text-align: left;
		background-color: white;
		line-height: inherit;
		padding-left: .25em;
	}
	
	@supports (display: -webkit-box) {
		&::after {
			display: none;
		}
	}
}



// Génération des  "animation-delay" incrémnetés pour :nth-child
// ex. @include nthDelays ('& .menu-item', 'a', 15, 0.03);
// -> .menu-item:nth-child(2) a{animation-delay:0.06s} …
@mixin nthDelays ($parentSelector, $childSelector, $elements, $delayOffset) {
	@for $i from 0 to $elements {
		#{$parentSelector}:nth-child(#{$i}) #{$childSelector} {
			animation-delay: $i * $delayOffset + 0s;
		}
	}
}



// media queries
$tablet-width: 768px !default;
$desktop-width: 1024px !default;
$mobile-s-width: 320px !default;

@mixin media-any-mobile {
	@media screen and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin media-mobile-s {
	@media screen and (max-width: #{$mobile-s-width}) {
		@content;
	}
}

@mixin media-mobile {
	@media screen and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}


@mixin media-tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin media-min-tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}


@mixin media-desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}



// aspect-ratio
@mixin aspect-ratio ($width, $height) {
	display: block;
	position: relative;
	&::before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
		overflow: hidden;
	}
	> .keep-ratio {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}



@mixin button-outlined ($linkColor, $focusColor) {
	color: $linkColor;
	border: 2px solid currentColor;
	background-color: transparent;
	
	&:focus,
	&:hover {
		background-color: $focusColor;
		border-color: $focusColor;
	}
}