
/* @signature anamorphik module */

.anamorphik-signature {
	color:inherit;
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	vertical-align: middle;
}

.anamorphik-signature .ⓚ {
	// --color-anamorphik: #c7341c; // SVG default
	display: inline-flex;
	height: auto;
	margin: 0 .25em;
	vertical-align: middle;
	width: 1.28em;
}

.anamorphik-signature .ⓚ-logo {
	transform-origin: center;
	transform: rotate(0) translate3d(0,0,0);
	transition: transform cubic-bezier(1, 0, 0, 1) .3s;
	will-change: transform;
}

.anamorphik-signature:focus .ⓚ-logo,
.anamorphik-signature:hover .ⓚ-logo {
	transform: rotate(360deg) translate3d(0,0,0);
}

.anamorphik-signature:focus .ⓚ-logo .ⓚ-front,
.anamorphik-signature:hover .ⓚ-logo .ⓚ-front {
	color: inherit;
}



/* Exemple de theming 

.anamorphik-signature .ⓚ {
	--color-anamorphik: currentColor;
}

.anamorphik-signature:focus .ⓚ,
.anamorphik-signature:hover .ⓚ {
	--color-anamorphik: initial;
}

.anamorphik-signature:focus .ⓚ-back,
.anamorphik-signature:hover .ⓚ-back {
	fill: white;
}

*/