//  dev styles

pre {
	font-family: "Fira Code", monaco, Consolas, Menlo, Courier, monospace;
	font-size: 14px;
	margin: 0;
}



/* @responsive - verify functions.php */

/* desktop - small screens */
// 
// @media screen and (max-width:1280px) {
// 
// 	body:after {
// 		content: "theme.css - small desktops";
// 		position: fixed;
// 		top: 0;
// 		left:0;
// 		display: block;
// 		padding: 5px;
// 		color: white;
// 		background: black;
// 		z-index: 2147483647;
// 		opacity: .5;
// 	}
// 
// }



/* tablet (pure-u-md-x-x) - min-width = 760px AND/OR max-width 1024px */
// 
// @media all and (min-width: 760px) and (max-width: 1024px) {
// 
// 	body:after {
// 		content: "tablet.css";
// 		position: fixed;
// 		top: 0;
// 		left:0;
// 		display: block;
// 		padding: 5px;
// 		color: white;
// 		background: black;
// 		z-index: 2147483647;
// 		opacity: .5;
// 	}
// 
// }



/* mobile (pure-u-x-x) */

// @media all and (max-width: 760px) {
// 
// 	body:after {
// 		content: "mobile.css";
// 		position: fixed;
// 		top: 0;
// 		left:0;
// 		display: block;
// 		padding: 5px;
// 		color: white;
// 		background: black;
// 		z-index: 2147483647;
// 		opacity: .5;
// 	}
// 
// }