// cards

.card {
	position:relative;
	display: flex;
	flex-direction: row;
	background-color: $color-light-gray;
	margin: 1rem;
	border-radius: 3px;
}

.card .card-content,
.card .card-thumbnail {
	display: flex;
	flex-flow: row wrap;
	align-self: stretch;
}

.card-content {
	padding: 1rem;
	flex-shrink: 1;
	overflow: hidden;
}
.card .card-thumbnail {
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
}

.card-header, 
.card-header * {
	width: 100%;
}

.card .title-link {
	text-decoration: none;
	color: $color-accent-alt;

	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card .image {
	max-width: 100%;
	height: auto;
}

