/* 
	CSS modules
	_mod-buttons.scss v1
	Flexbox buttons
*/


/* button module (flexbox) v1 */
// ⚠️ display: inline-flex / flex won't work on button and fieldset elements in Firefox.
// https://github.com/philipwalton/flexbugs
.button {
	display: inline-flex;
	align-items: center;
	border: none;
	cursor: pointer;
	flex-direction: row;
	flex-wrap: nowrap;
	font-family: inherit;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
}

// Firefox button flex hack
// @-moz-document url-prefix() { 
// 	.button {
// 		display: inline-block;
// 	}
// }

.button,
.button:focus,
.button:hover,
.button:active {
	text-decoration: none;
}



// Form element: Switch (from Spectre.css)

.form-switch {
	cursor: pointer;
	display: inline-block;
	line-height: 2em;
	padding: 0 1em 0 3.5em;
	position: relative;
	
	input {
		display: none;
	}
	
	.form-icon {
		background: #333;
		background-clip: padding-box;
		border: 0;
		border-radius: 1em;
		display: inline-block;
		height: 1em;
		left: 1em;
		line-height: 2em;
		outline: none;
		padding: 0;
		position: absolute;
		top: .5em;
		vertical-align: top;
		width: 2em;
		
		&::after {
			background: #fff;
			border-radius: .5em;
			content: "";
			display: block;
			height: 1em;
			left: 0;
			position: absolute;
			top: 0;
			transition: left .15s ease;
			width: 1em;
		}
	}
	
	input:checked + .caption .form-icon {
		background: orangered;
		border-color: orangered;
		
		&::after {
			left: 1em;
		}
	}
}