
/* wordpress base styles - http://digwp.com/2010/05/default-wordpress-css-styles-hooks/#wysiwyg */

.entry-content .wp-post-image {
	margin: .5em;
}

.alignleft, img.alignleft {
	margin-right: 1em;
	display: inline;
	float: left;
}
.alignright, img.alignright {
	margin-left: 1em;
	display: inline;
	float: right;
}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}
.alignnone, img.alignnone {
	/* not sure about this one */
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}



// custom tweaks

.entry-content p:empty {
	display: none;
}

.entry-content:after {
  content: '';
  display: table;
  clear: both;
}