/*
	CSS modules
	_mod-base.scss v1
	CSS reset, custom resets, defaults, …
*/


// @resets — custom

html {
	box-sizing: border-box;
	font-size: 100%; /* 100% == 16px */
	font-family: $font-default;
	-webkit-font-smoothing: antialiased;
	/*
		1rem; // 16px
		.25rem; // 4px
		.5rem; // 8px
		1.125rem; // 18px
		1.25rem; // 20px
		1.5rem; // 24px
		1.625rem; // 26px
		1.75rem; // 28px
		2.125rem; // 34px
		2.25rem; // 36px
		2.5rem; // 40px
	*/
}

*, *:before, *:after {
	box-sizing: inherit;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
	-webkit-font-smoothing: subpixel-antialiased;
}


// focus border
input:focus, label:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, .button:focus {
	outline:0;
	outline-style: none;
	background-color:inherit;
}

input[type="text"], textarea, [contenteditable] {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}


fieldset {
	border:none;
	margin: 0;
	padding: 0;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 1rem;
}



// @defaults

body {
	font-size: 1rem;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
}



// screen readers only
// https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/

.offscreen {
	clip: rect(1px 1px 1px 1px); /* IE 6/7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; /* added line */
	width: 1px;
}

a.offscreen:focus {
	position:relative;
	clip:auto;
	width:auto;
	height:auto;
	overflow:auto;
}
